<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Início')}"></head>
<body>
	<header
		th:replace="~{fragmentos/header :: header(activePage='Inicio')}"></header>
	<br>
	<h2 class="text-center">Integrantes</h2>
	<br>
	<p class="text-center">Alessandra Sampaio Pedrosa</p>
	<p class="text-center">Arthur Santos Purcino</p>
	<p class="text-center">Bruno Videira dos Santos</p>
	<p class="text-center">Giovanna Viecelli Barros</p>
	<br>
	<p class="text-center">Observação: Foi considerado que para cada produto, só seria feita 1 solicitação</p>
	<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>