<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Marcas')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Marca')}"></header>
	<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
		<h2 class="text-center"
			th:text="${marca!= null} ? 'Editar Marca' : 'Lista Marca'"></h2>
		<div th:if="${message != null}"
			class="alert alert-success alert-dismissible fade show text-center"
			role="alert">
			[[${message}]]
			<button type="button" class="close btn-sm" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
    <a href="/marca/formulario">Novo</a>
    <div th:if="${listaMarcas.size() > 0}">
	    <table class="table table-hover table-responsive-xl">
	        <thead class="thead-light">
	            <tr>
	                <th scope="col">Nome</th>
	                <th scope="col">País</th>
	                <th scope="col">Ações</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="marca : ${listaMarcas}">
	                <td th:text="${marca.nome}"></td>
	                <td th:text="${marca.pais}"></td>
						
					<td><a th:href="@{'/marca/formulario/' + ${marca.id}}"
							title="Editar a Marca"
							class="fa-regular fa-pen-to-square icon-dark"></a> &nbsp; <a
							th:href="@{'/marca/delete/' + ${marca.id}}"
							th:caminhaoTitle="${marca.nome}" id="btnDelete"
							title="Apague esta marca"
							class="fa-regular fa-trash-can icon-dark btn-delete"></a>
					</td>
	            </tr>
	        </tbody>
	    </table>
	  </div>
    </div>
	<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>